/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    font-family: sans-serif;
    color: #3F464C
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    font-size: 1.8rem;
    color: #2186C4;
    text-decoration: none;
    transition: .2s;
}

a:hover {
    color: #7ECEFC;
}

a.button {
    display: inline-block;
    margin-left: 10px;
    padding: 2px 5px;
    color: #2186C4;
    border: 1px solid #2186C4;
}

a.button:hover {
    color: #7ECEFC;
    border-color: #7ECEFC;
}

a.button.delete {
    color: #ff5f3e;
    border-color: #ff5f3e;
}

a.button.delete:hover {
    color: #fd411c;
    border-color: #fd411c;
    background-color: #ffdad3
}

input[type=submit]
{
    display: inline-block;
    margin-left: 10px;
    padding: 2px 5px;
    color: #54ce79;
    border: 1px solid #54ce79;
    cursor: pointer;
    font-size: 1.8rem;
    background-color: transparent;
}

header {
    flex: 0 0 auto;
    background-color: #FF7F66;
    box-shadow: 0px 1px 5px 0px rgba(63,70,76,0.5);
    z-index: 99;
}

h1 {
    padding: 15px 10px;

    color: #fdf9f1;
    text-align: center;
    font-size: 3.6rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    text-shadow: 2px 0px 2px rgba(63, 70, 76, 0.5);
}

nav {
    flex: 0 0 auto;
    background-color: #7ECEFC;
    box-shadow: 0px 1px 5px 0px rgba(63,70,76,0.5);
    z-index: 98;
}

nav ul {
    display: flex;
}

nav ul li {
    flex: 0 1 250px;
    /* list-style-type: none; */
    margin-right: 5px;
}

nav ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;

    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
    color: #3F464C;
    transition: .2s;
    box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0);
}

nav ul li a:hover {
    background-color: #2186C4;
    color: #fdf9f1;
    box-shadow: inset 0px 1px 5px 0px rgba(63,70,76,0.5);
}

main {
    flex: 1 0 auto;
    padding: 20px 30px;
    background-color: #fdf9f1;
}

h2 {
    font-size: 2.4rem;
    text-align: center;
}

li {
    list-style-type: none;
}

main li {
    margin: 20px 0;
}

li h3 {
    margin-bottom: 5px
}

li p {
    font-size: 1.3rem;
}

li p.tags {
    margin-top: 5px;
}

li p.tags a{
    font-size: 1.3rem;
}

footer {
    flex: 0 0 auto;
    padding: 5px 2px;
    background-color: #FF7F66;
    box-shadow: 0px 1px 5px 0px rgba(63,70,76,0.5);
    z-index: 99;
}

hr {
    margin: 20px auto;
    border: 0;
    height: 1px;
    width: 80%;
    background-image: linear-gradient(to right, rgba(63, 70, 76, 0), rgba(63, 70, 76, 0.5), rgba(63, 70, 76, 0));
}